# Web Scraping Assignment 4

In [65]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
import warnings
warnings.filterwarnings("ignore")
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 

A)Rank 

B) Name 

C) Artist 

D) Upload date 

E) Views

In [11]:
driver=webdriver.Chrome()

In [12]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(3)

In [13]:
driver.maximize_window()

In [14]:
rank=[]
name=[]
artist=[]
uploaddate=[]
views=[]

try:
    header=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in header:
        name.append(i.text.strip().split("[")[0])
except NoSuchElementException:
    name.append('-')
try:
    artists=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for j in artists:
        artist.append(j.text.strip())
except NoSuchElementException:
    artist.append('-')
try:
    view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for k in view:
        views.append(k.text.strip())
except NoSuchElementException:
    views.append('-')
try:
    date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for l in date:
        uploaddate.append(l.text.strip())
except NoSuchElementException:
    uploaddate.append("-")

df=pd.DataFrame({"Name":name,"Artist":artist,"Upload Date":uploaddate,"Views":views})
df

,Name,Artist,Upload Date,Views
0,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,"""Despacito""",Luis Fonsi,"January 12, 2017",8.44
2,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.27
5,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.26
6,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.23
9,"""Gangnam Style""",Psy,"July 15, 2012",5.15
10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",5.11
11,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.63
12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.58
13,"""Axel F""",Crazy Frog,"June 16, 2009",4.54
14,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,"""Sugar""",Maroon 5,"January 14, 2015",4.05
16,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",4.04
17,"""Counting Stars""",OneRepublic,"May 31, 2013",4.02
18,"""Roar""",Katy Perry,"September 5, 2013",4.00
19,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.93
20,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,"""Sorry""",Justin Bieber,"October 22, 2015",3.80
23,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.77
24,"""Perfect""",Ed Sheeran,"November 9, 2017",3.74
25,"""Dark Horse""",Katy Perry,"February 20, 2014",3.72
26,"""Let Her Go""",Passenger,"July 25, 2012",3.66
27,"""Faded""",Alan Walker,"December 3, 2015",3.63
28,"""Girls Like You""",Maroon 5,"May 31, 2018",3.61
29,"""Lean On""",Major Lazer Official,"March 22, 2015",3.60

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: 

A) Series 

B) Place 

C) Date 

D) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [82]:
driver=webdriver.Chrome()

In [83]:
driver.get("https://www.bcci.tv/")
time.sleep(3)

In [84]:
driver.maximize_window()

In [85]:
fixture_click=driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
fixture_click.click()
time.sleep(3)

In [75]:
fixture_result=driver.find_element(By.XPATH,'//div[@class="tab-modify matchStatusFitler d-flex inactive"]/div[2]')
fixture_result.click()
time.sleep(3)

In [86]:
filter_search=driver.find_element(By.XPATH,'//div[@class="ft-nam"]')
filter_search.click()

In [87]:
search=driver.find_element(By.XPATH,'//label[@class="team-list_label ng-scope"]/div')
search.click()

In [88]:
checkbox=driver.find_element(By.XPATH,'//input[@data-val="India"]')
checkbox.click()

In [89]:
apply=driver.find_element(By.XPATH,'//div[@class="filter-bottom"]/div[2]')
apply.click()

In [90]:
driver.execute_script("window.scrollBy(0,5000)","")

In [91]:
match_button=driver.find_element(By.XPATH,'//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3 morematches"]')
match_button.click()

In [92]:
headers=[]
series=[]
place=[]
date=[]
times=[]
name=[]

try:
    header=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div/div[1]')
    for i in header:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div/div[2]')
    for j in time:
        times.append(j.text)
except NoSuchElementException:
    times.append('-')
try:
    names=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/h5')
    for k in names:
        name.append(k.text)
except NoSuchElementException:
    name.append('-')
try:
    seriestype=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[1]/span[1]')
    for l in seriestype:
        series.append(l.text)
except NoSuchElementException:
    name.append('-')
try:
    places=driver.find_elements(By.XPATH,'//div[@class="match-card-top"]/div[2]/div[3]/span[1]')
    for m in places:
        place.append(m.text)
except NoSuchElementException:
    place.append('-')

df=pd.DataFrame({"Name":name,"Series":series,"Date":date,"Time":times,"Place":place})
df

,Name,Series,Date,Time,Place
0,ICC Mens T20 World Cup 2024,,15 Jun,7:30 PDT,"Central Broward Park & Broward County Stadium,..."
1,India Tour Of Zimbabwe T20I Series 2024,,6 Jul,7:30 PDT,"Harare Sports Club,"
2,India Tour Of Zimbabwe T20I Series 2024,,7 Jul,7:30 PDT,"Harare Sports Club,"
3,India Tour Of Zimbabwe T20I Series 2024,,10 Jul,7:30 PDT,"Harare Sports Club,"
4,India Tour Of Zimbabwe T20I Series 2024,,13 Jul,7:30 PDT,"Harare Sports Club,"
5,India Tour Of Zimbabwe T20I Series 2024,,14 Jul,7:30 PDT,"Harare Sports Club,"

3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: 

A) Rank 

B) State 

C) GSDP(18-19)- at current prices 

D) GSDP(19-20)- at current prices 

E) Share(18-19) 

F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
driver=webdriver.Chrome()

In [9]:
driver.get("http://statisticstimes.com/")

In [10]:
driver.maximize_window()

In [11]:
cookies=driver.find_element(By.XPATH,'/html/body/div[1]/div/a')
cookies.click()

In [12]:
dropdown=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
dropdown.click()
menu=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
menu.click()

In [13]:
gdpbystate=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
gdpbystate.click()

In [15]:
table=[]
rank=[]
state=[]
GSDP2122=[]
GSDP2223=[]
GSDP2324=[]
share=[]
GDP=[]

try:
    ranks=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[1]')
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
try:
    states=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[2]')
    for o in states:
        state.append(o.text)
except NoSuchElementException:
    state.append('-')
try:
    gsdp22=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[5]')
    for j in gsdp22:
        GSDP2122.append(j.text)
except NoSuchElementException:
    GSDP2122.append('-')
try:
    gsdp23=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[4]')
    for k in gsdp23:
        GSDP2223.append(k.text)
except NoSuchElementException:
    GSDP2223.append('-')
try:
    gsdp24=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[3]')
    for l in gsdp24:
        GSDP2324.append(l.text)
except NoSuchElementException:
    GSDP2324.append('-')
try:
    shares=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[6]')
    for m in shares:
        share.append(m.text)
except NoSuchElementException:
    share.append('-')
try:
    gdps=driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody/tr/td[7]')
    for n in gdps:
        GDP.append(n.text)
except NoSuchElementException:
    GDP.append('-')
    
df=pd.DataFrame({"Rank":rank,"State":state,"GSDP(21-22)- at current prices":GSDP2122,"GSDP(22-23)- at current prices":GSDP2223,"GSDP(23-24)- at current prices":GSDP2324,"Share(21-22)":share,"GDP($ billion)":GDP})
df

,Rank,State,GSDP(21-22)- at current prices,GSDP(22-23)- at current prices,GSDP(23-24)- at current prices,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514","2,700,109",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995","2,500,733",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040","2,547,861",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",-,8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758","1,700,939",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849","1,524,030",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524","1,439,674",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034","1,463,960",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471","1,363,327",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",-,3.96%,124.764
11,12,Delhi,"881,336","1,014,688","1,107,746",3.73%,117.660
12,13,Haryana,"868,905","984,055","1,095,535",3.68%,116.001
13,14,Odisha,"662,886","753,177","832,790",2.81%,88.497
14,15,Bihar,"650,302","751,396",-,2.76%,86.817
15,16,Punjab,"617,192","676,164","736,423",2.62%,82.397
16,17,Assam,"411,454","493,167","565,401",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399","505,887",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",-,1.52%,47.909
19,20,Uttarakhand,"267,143","303,781","346,206",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226","246,465",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728","207,430",0.73%,22.984
22,23,Goa,"84,266","93,672",-,0.36%,11.250
23,24,Tripura,"62,550","72,636",-,0.27%,8.351
24,25,Chandigarh,"46,096","54,285",-,0.20%,6.154
25,26,Puducherry,"43,810","49,643",-,0.19%,5.849
26,27,Meghalaya,"38,785","42,697","47,381",0.16%,5.178
27,28,Sikkim,"37,557","42,756",-,0.16%,5.014
28,29,Manipur,"36,594",-,-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",-,0.15%,4.643
30,31,Nagaland,"31,038","35,643",-,0.13%,4.144
31,32,Mizoram,"27,824",-,-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,-,0.04%,1.385

4. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: 

A) Repository title 

B) Repository description 

C) Contributors count 

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [16]:
driver=webdriver.Chrome()

In [17]:
driver.get("https://github.com/")

In [18]:
driver.maximize_window()

In [19]:
button=driver.find_element(By.XPATH,'//div[@class="HeaderMenu--logged-out p-responsive height-fit position-lg-relative d-lg-flex flex-column flex-auto pt-7 pb-4 top-0"]/div/nav/ul/li[3]')
button.click()

In [20]:
repo=driver.find_element(By.XPATH,'//ul[@aria-labelledby="open-source-repositories-heading"]/li[2]/a')
repo.click()

In [21]:
title=[]
description=[]
count=[]
language=[]
url=[]

urls=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in urls:
    url.append(i.get_attribute('href'))
for j in url:
    driver.get(j)
    try:
        titles=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]/a')
        title.append(titles.text)
    except NoSuchElementException:
        title.append('-')
    try:
        desc=driver.find_element(By.XPATH,'//div[@class="hide-sm hide-md"]/p')
        description.append(desc.text)
    except NoSuchElementException:
        description.append('-')
    try:
        counts=driver.find_elements(By.XPATH,'//span[@class="Counter ml-1"]')
        for k in counts:
            count.append(k.text)
    except NoSuchElementException:
        count.append('-')
    try:
        lang=driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        for l in lang:
            language.append(l.text)
    except NoSuchElementException:
        language.append('-')
print(title)
print(description)
print(count)
print(language)

['immich', 'mistral.rs', 'CyberChef', 'diffusers', 'ARC-AGI', 'Warp', 'LazyVim', 'build-your-own-x', 'gravitino', 'gs-quant', 'solana-program-library', 'public-image-mirror', 'GroundingDINO', 'playwright']
['High performance self-hosted photo and video management solution.', 'Blazingly fast LLM inference.', 'The Cyber Swiss Army Knife - a web app for encryption, encoding, compression and data analysis', '🤗 Diffusers: State-of-the-art diffusion models for image and audio generation in PyTorch and FLAX.', 'The Abstraction and Reasoning Corpus', 'Warp is a modern, Rust-based terminal with AI built in so you and your team can build great software, faster.', 'Neovim config for the lazy', 'Master programming by recreating your favorite technologies from scratch.', "World's most powerful open data catalog for building a high-performance, geo-distributed and federated metadata lake.", 'Python toolkit for quantitative finance', 'A collection of Solana programs maintained by Solana Labs', '很多镜像都在国外。比如 gcr 。国内下载很慢，需要加速。', 'Official implementation of the paper "Grounding DINO: Marrying DINO with Grounded Pre-Training for Open-Set Object Detection"', 'Playwright is a framework for Web Testing and Automation. It allows testing Chromium, Firefox and WebKit with a single API.']
['7', '432', '1', '14', '1', '145', '', '723', '', '20', '13', '196', '', '117', '', '80', '', '21', '', '220', '', '48', '', '25', '549']
['TypeScript', 'Dart', 'Svelte', 'Python', 'Swift', 'Kotlin', 'Other', 'Rust', 'Python', 'Other', 'JavaScript', 'HTML', 'CSS', 'Python', 'Other', 'JavaScript', 'HTML', 'CSS', 'Lua', 'Java', 'JavaScript', 'Python', 'Shell', 'TypeScript', 'Dockerfile', 'Jupyter Notebook', 'Python', 'Rust', 'TypeScript', 'Python', 'C++', 'Shell', 'JavaScript', 'C', 'Shell', 'Python', 'Cuda', 'C++', 'Other', 'TypeScript', 'HTML', 'CSS', 'C++', 'Objective-C', 'JavaScript', 'Other']

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: 

A) Song name 

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [22]:
driver=webdriver.Chrome()

In [23]:
driver.get("https:/www.billboard.com/")

In [24]:
driver.maximize_window()

In [25]:
chart=[]
headers=[]
songs=[]
music=[]
artists=[]
lastweek=[]
peak=[]
weeksonboard=[]

charts=driver.find_element(By.XPATH,'//h3[@id="mega-menu-item-charts"]/a')
chart.append(charts.get_attribute('href'))
for i in chart:
    driver.get(i)
    song=driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]/a')
    songs.append(song.get_attribute('href'))
    for j in songs:
        driver.get(j)
        try:
            header=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')
            for k in header:
                music.append(k.text)
        except NoSuchElementException:
            music.append('-')
        try:
            artist=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
            for l in artist:
                artists.append(l.text)
        except NoSuchElementException:
            artists.append('-')
        try:
            lastweeks=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
            for m in lastweeks:
                lastweek.append(m.text.strip())
        except NoSuchElementException:
            lastweek.append('-')
        try:
            peaks=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
            for o in peaks:
                if o.text is not None:
                    peak.append(o.text)
        except NoSuchElementException:
            peak.append('-')
        try:
            weeks=driver.find_elements(By.XPATH,'//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul//li[6]/span')
            for n in weeks:
                weeksonboard.append(n.text)
        except NoSuchElementException:
            weeksonboard.append('-')
            
df=pd.DataFrame({"Song name":music,"Artist name":artists,"Last week rank":lastweek,"Peak rank":peak,"Weeks on board":weeksonboard})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

6. Scrape the details of Highest selling novels. 

A) Book name 

B) Author name

C) Volumes sold 

D) Publisher 

E) Genre 

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [26]:
driver=webdriver.Chrome()

In [27]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [28]:
driver.maximize_window()

In [29]:
book=[]
author=[]
volumes=[]
publisher=[]
genre=[]

try:
    headers=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in headers:
        book.append(i.text)
except NoSuchElementException:
    book.append('-')
try:
    authors=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for j in authors:
        author.append(j.text)
except NoSuchElementException:
    author.append('-')
try:
    volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for k in volume:
        volumes.append(k.text)
except NoSuchElementException:
    volumes.append('-')
try:
    publishers=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for l in publishers:
        publisher.append(l.text)
except NoSuchElementException:
    publisher.append('-')
try:
    genres=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for m in genres:
        genre.append(m.text)
except NoSuchElementException:
    genre.append('-')
    
df=pd.DataFrame({"Book name":book,"Author name":author,"Volumes sold":volumes,"Publisher":publisher,"Genre":genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 

A) Name 

B) Year span 

C) Genre 

D) Run time 

E) Ratings 

F) Votes

In [34]:
driver=webdriver.Chrome()

In [35]:
driver.get("https://www.imdb.com/list/ls512407256/")

In [36]:
driver.maximize_window()

In [33]:
name=[]
year=[]
genre=[]
runtime=[]
ratings=[]
votes=[]
url=[]

driver.execute_script('window.scrollBy(0,100000)','')
try:
    urls=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN dli-title"]/a')
    for i in urls:
        url.append(i.get_attribute('href'))
except NoSuchElementException:
    pass
for j in url:
    driver.get(j)
    try:
        names=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/h1/span')
        name.append(names.text)
    except NoSuchElementException:
        name.append('-')
    try:
        years=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/ul/li[2]')
        year.append(years.text)
    except NoSuchElementException:
        year.append('-')
    try:
        genres=driver.find_element(By.XPATH,'//div[@class="ipc-chip-list__scroller"]')
        genre.append(genres.text.replace("\n",','))
    except NoSuchElementException:
        genre.append('-')
    try:
        run=driver.find_element(By.XPATH,'//div[@class="sc-b7c53eda-0 dUpRPQ"]/ul/li[4]')
        runtime.append(run.text)
    except NoSuchElementException:
        runtime.append('-')
    try:
        rating=driver.find_element(By.XPATH,'//div[@class="sc-491663c0-3 bdjVSf"]/div[2]/div/div/a/span/div/div[2]/div/span')
        ratings.append(rating.text)
    except NoSuchElementException:
        ratings.append('-')
    try:
        vote=driver.find_element(By.XPATH,'//div[@data-testid="hero-rating-bar__popularity__score"]')
        votes.append(vote.text)
    except NoSuchElementException:
        votes.append('-')
        
df=pd.DataFrame({"Name":name,"Year Span":year,"Genre":genre,"Run time":runtime,"Ratings":ratings,"Votes":votes})
df

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action,Adventure,Drama",1h,9.2,6
1,Stranger Things,2016–2025,"Drama,Fantasy,Horror",1h,8.7,26
2,The Walking Dead,2010–2022,"Drama,Horror,Thriller",45m,8.1,29
3,13 Reasons Why,2017–2020,"Drama,Mystery,Thriller",1h,7.5,429
4,The 100,2014–2020,"Drama,Mystery,Sci-Fi",43m,7.6,168
5,Orange Is the New Black,2013–2019,"Comedy,Crime,Drama",59m,8.0,201
6,Riverdale,2017–2023,"Crime,Drama,Mystery",45m,6.5,366
7,Grey's Anatomy,2005–,"Drama,Romance",41m,7.6,16
8,The Flash,2014–2023,"Action,Adventure,Drama",43m,7.5,203
9,Arrow,2012–2020,"Action,Adventure,Crime",42m,7.5,334
10,Money Heist,2017–2021,"Action,Crime,Drama",1h,8.2,226
11,The Big Bang Theory,2007–2019,"Comedy,Romance",22m,8.1,50
12,Black Mirror,2011–,"Crime,Drama,Mystery",1h,8.7,57
13,Sherlock,2010–2017,"Crime,Drama,Mystery",1h 30m,9.1,121
14,Vikings,2013–2020,"Action,Adventure,Drama",45m,8.5,76
15,Pretty Little Liars,2010–2017,"Drama,Mystery,Romance",44m,7.4,279
16,The Vampire Diaries,2009–2017,"Drama,Fantasy,Horror",43m,7.7,134
17,American Horror Story,2011–,"Drama,Horror,Sci-Fi",1h,8.0,73
18,Breaking Bad,2008–2013,"Crime,Drama,Thriller",45m,9.5,24
19,Lucifer,2016–2021,"Crime,Drama,Fantasy",43m,8.1,166
20,Supernatural,2005–2020,"Drama,Fantasy,Horror",44m,8.4,40
21,Prison Break,2005–2017,"Action,Crime,Drama",44m,8.3,172
22,How to Get Away with Murder,2014–2020,"Crime,Drama,Mystery",43m,8.1,496
23,Teen Wolf,2011–2017,"Action,Drama,Fantasy",41m,7.7,391
24,The Simpsons,1989–,"Animation,Comedy",22m,8.7,129

8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
      
A) Dataset name 

B) Data type 

C) Task 

D) Attribute type 

E) No of instances 

F) No of attribute 

G) Year 

Note: - from the home page you have to go to the Show All Dataset page through code.

In [58]:
driver=webdriver.Chrome()

In [59]:
driver.get("https://archive.ics.uci.edu/")

In [60]:
driver.maximize_window()

In [61]:
dataset=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
dataset.click()
time.sleep(5)

In [62]:
accept=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn m-1"]')
accept.click()

In [63]:
expand_all=driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]/span[2]')
expand_all.click()

In [64]:
dataset=[]
datatype=[]
task=[]
attributetype=[]
instances=[]
attributes=[]
year=[]

for i in range(0,60):
    collapse=driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]/span[1]')
    collapse.click()
    time.sleep(8)
    expand=driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]/span[2]')
    expand.click()
    time.sleep(8)
    try:
        datasets=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/h2/a')
        for i in datasets:
            dataset.append(i.text)
    except NoSuchElementException:
        dataset.append('-')
    try:
        datatypes=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[2]/span')
        for i in datatypes:
            datatype.append(i.text)
    except NoSuchElementException:
        datatype.append('-')
    try:
        tasks=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[1]/span')
        for i in tasks:
            task.append(i.text)
    except NoSuchElementException:
        task.append('-')
    try:
        instance=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[3]/span')
        for i in instance:
            instances.append(i.text.split(' ')[0])
    except NoSuchElementException:
        instances.append('-')
    try:
        attribute=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]/div/div[2]/div/div[4]/span')
        for i in attribute:
            attributes.append(i.text.split(' ')[0])
    except NoSuchElementException:
        attributes.append('-')
    try:
        types=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody/tr/td[2]')
        for i in types:
            attributetype.append(i.text)
    except NoSuchElementException:
        attributetype.append('-')
    try:
        years=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody/tr/td[3]')
        for i in years:
            year.append(i.text)
    except NoSuchElementException:
        year.append('-')
    next_button=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    next_button.click()
df=pd.DataFrame({"Dataset name":dataset,"Data type":datatype,"Task":task,"Attribute type":attributetype,"No of Instances":instances,"No of Attributes":attributes,"Year":year})
df

,Dataset name,Data type,Task,Attribute type,No of Instances,No of Attributes,Year
0,Iris,Tabular,Classification,Real,150,4,6/30/1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K,16,9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K,7,10/5/2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,8,8/13/2023
...,...,...,...,...,...,...,...
595,Vicon Physical Action Data Set,Time-Series,Classification,Real,3K,,7/26/2011
596,Quality Assessment of Digital Colposcopies,Multivariate,Classification,Real,287,,3/7/2017
597,Pseudo Periodic Synthetic Time Series,,,N/A,100K,,2/7/1999
598,Newspaper and magazine images segmentation dat...,null,Classification,,101,,7/14/2014
599,Detect Malacious Executable(AntiVirus),Multivariate,Classification,Real,373,513,3/2/2016