# Regular Expressions - Assignment1

In [51]:
import regex as re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [52]:
string1 = 'Python Exercises, PHP exercises.'

x=re.sub(r"[\s,.]",":",string1)
x

'Python:Exercises::PHP:exercises:'

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [53]:
dict1= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df=pd.DataFrame(dict1)
df["SUMMARY"].str.replace("[^a-zA-Z\s]","",regex=True)

0      hello world
1       XXXXX test
2    four five six
Name: SUMMARY, dtype: object

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [54]:
def find_four_char_long():
    string1="Apple cost Rs.20, Banana cost Rs.40"
    
    pattern = re.compile(r"\w{4,}")
    x=pattern.findall(string1)
    print(x)

In [55]:
find_four_char_long()

['Apple', 'cost', 'Banana', 'cost']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [56]:
def three_four_five_char():
    string1="Python is a programming language and easy to use"
    
    pattern = re.compile(r"\b\w{3,5}\b")
    x=pattern.findall(string1)
    print(x)

In [57]:
three_four_five_char()

['and', 'easy', 'use']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [58]:
def remove_paranthesis():
    string2=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    
    pattern = re.compile(r"\s\(|\)")
    for i in string2:
        y=pattern.sub("",i)
        print(y)

In [59]:
remove_paranthesis()

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [60]:
def remove_paranthesis_area():
    with open (r"C:\Users\DELL\OneDrive\Documents\PG Program in Data Science Machine Learning and Neural Network\Internship\Datasets\sample1.txt") as file1:
        pattern =re.compile(r"\(.*?\)")
        for i in file1:
            y=pattern.sub("",i)
        print(y)

In [61]:
remove_paranthesis_area()

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [62]:
string1="ImportanceOfRegularExpressionsInPython"

pattern = r"([A-Z][^A-Z]*)"

x=re.findall(pattern,string1)
x

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [74]:
def space_between_words_numbers():
    string1="RegularExpression1IsAn2ImportantTopic3InPython"
    x=re.sub("(\d+)",r" \1",string1)
    print(x)

In [75]:
space_between_words_numbers()

RegularExpression 1IsAn 2ImportantTopic 3InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [77]:
def space_between_cap_numbers():
    string1="RegularExpression1IsAn2ImportantTopic3InPython"
    x=re.sub("(\d+)",r" \1 ",string1)
    print(x)

In [78]:
space_between_cap_numbers()

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [79]:
url="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df= pd.read_csv(url)
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [80]:
df.shape

(158, 12)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [82]:
df.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [83]:
df["first_five_letters"]=df["Country"].str.extract(r"(\w{6}+)",expand=False)

In [84]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [85]:
string1=["Apple30","Mango$cost","70","ABC","Bana_na40"]

for i in string1:
    x=re.match(r"^[a-zA-Z0-9_]*$",i)
    print(x)

<regex.Match object; span=(0, 7), match='Apple30'>
None
<regex.Match object; span=(0, 2), match='70'>
<regex.Match object; span=(0, 3), match='ABC'>
<regex.Match object; span=(0, 9), match='Bana_na40'>

Question 12- Write a Python program where a string will start with a specific number.

In [87]:
string2=["30Apples","Banana40","50Mango","Grape40s"]

for i in string2:
    x=re.match(r"\d+",i)
    print(x)

<regex.Match object; span=(0, 2), match='30'>
None
<regex.Match object; span=(0, 2), match='50'>
None

Question 13- Write a Python program to remove leading zeros from an IP address

In [88]:
string3 = "192.168.2.50"

x=re.sub(r"0+$","",string3)
x

'192.168.2.5'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Note- Store given sample text in the text file and then extract the date string asked format.

In [89]:
with open(r"C:\Users\DELL\OneDrive\Documents\PG Program in Data Science Machine Learning and Neural Network\Internship\Datasets\sample2.txt") as file:
    for i in file:
        x=re.findall(r"A[a-zA-Z]+\s+\d+[th|rd|nd|st]+\s+\d{4}",i)
        print(x)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 

Searched words : 'fox', 'dog', 'horse'

In [90]:
string2 = "The quick brown fox jumps over the lazy dog"

x=re.search(r"fox|dog|horse",string2)
x

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs.

Searched words : 'fox'

In [91]:
x=re.search(r"fox",string2)
x

Question 17- Write a Python program to find the substrings within a string.

Pattern : 'exercises'.

In [92]:
string3="Python exercises, PHP exercises, C# exercises"

x=re.findall(r"\bexercises\b",string3)
x

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [93]:
string3="Python exercises, PHP exercises, C# exercises"

x=re.finditer(r"exercises",string3)
for i in x:
    print(i)

<regex.Match object; span=(7, 16), match='exercises'>
<regex.Match object; span=(22, 31), match='exercises'>
<regex.Match object; span=(36, 45), match='exercises'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [94]:
string4 = "1992-09-12"

yyyy,mm,dd=string4.split("-")
data_converted = f"{dd}-{mm}-{yyyy}"
print(data_converted)

12-09-1992

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [103]:
def find_all_decimal():
    string2 = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
    pattern = re.compile(r"\b\d+\.\d{1,2}\b")
    x=pattern.findall(string2)
    print(x)

In [104]:
find_all_decimal()

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [105]:
string2 = "20Apple 30 Banana Grapes 40"

x=re.finditer(r"(\d+)",string2)

for i in x:
    print(i)
    print("Number",i.group())
    print("Start Position",i.start())
    print("End Position",i.end())

<regex.Match object; span=(0, 2), match='20'>
Number 20
Start Position 0
End Position 2
<regex.Match object; span=(8, 10), match='30'>
Number 30
Start Position 8
End Position 10
<regex.Match object; span=(25, 27), match='40'>
Number 40
Start Position 25
End Position 27

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [106]:
string1 ='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

x=re.findall(r"\d+",string1)
print(max(x))

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [107]:
def space_between_start_cap():
    string1 = "RegularExpressionIsAnImportantTopicInPython"
    
    x=re.sub(r"([A-Z])",r" \1",string1)
    print(x)

In [108]:
space_between_start_cap()

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [109]:
string3="Apples Mangoes baNana graPes"

x=re.findall(r"[A-Z][a-z]+",string3)
x

['Apples', 'Mangoes', 'Nana', 'Pes']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [110]:
string1 = "Hello hello world world"
pattern = r"\b(\w+)(?:\W+\1\b)+"

x=re.sub(pattern,r'\1',string1)
x

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [111]:
string1 =["1234PYTHON is Programming language?","Python is Programming language675"]

for i in string1:
    if re.search(r"[a-zA-Z0-9]$",i):
        print(i)

Python is Programming language675

Question 27-Write a python program using RegEx to extract the hashtags.

In [112]:
string2="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

x=re.findall(r"#\w+",string2)
x

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [113]:
string4="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

a=re.sub(r"<U\+[a-zA-Z0-9]+>","",string4)
print(a)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

Note- Store this sample text in the file and then extract dates.

In [114]:
def extract_dates():
    with open(r"C:\Users\DELL\OneDrive\Documents\PG Program in Data Science Machine Learning and Neural Network\Internship\Datasets\sample3.txt") as file3:
        for i in file3:
            x=re.findall(r"[\d+-]+",i)
            print(x)

In [115]:
extract_dates()

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [116]:
def remove_two_three_char():
    string4="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
    pattern = re.compile(r"\b\w{2,4}\b")
    b=pattern.sub("",string4)
    print(b)

In [117]:
remove_two_three_char()

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.