# BeautifulSoup Evaluation Assignment - Web Scraping

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import regex as re
import lxml

1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year ofrelease) and make data frame.

In [40]:
def top_100_imdb_movies(url):
    response = requests.get(url)
    sp = BeautifulSoup(response.content)
    name=[]
    ratings=[]
    yearofrelease=[]
    for i in sp.find_all('h3',{"class":"lister-item-header"}):
        name.append(i.text.replace("\n","").strip().split('.')[1].split('(')[0])
        name=name[0:100]
    for j in sp.find_all('div',{"class":"ipl-rating-star small"}):
        ratings.append(j.text.replace("\n",""))
        ratings=ratings[0:100]
    for k in sp.find_all('span',{"class":"lister-item-year text-muted unbold"}):
        yearofrelease.append(k.text.replace("\n","").strip('()'))
        yearofrelease=yearofrelease[0:100]
    
    df= pd.DataFrame({"name":name,"rating":ratings,"year ofrelease":yearofrelease})
    return df

In [41]:
top_100_imdb_movies("https://www.imdb.com/list/ls056092300/")

                                 name rating year ofrelease
0                     Ship of Theseus      8           2012
1                              Iruvar    8.4           1997
2                     Kaagaz Ke Phool    7.8           1959
3   Lagaan: Once Upon a Time in India    8.1           2001
4                     Pather Panchali    8.2           1955
..                                ...    ...            ...
95                        Apur Sansar    8.4           1959
96                        Kanchivaram    8.2           2008
97                    Monsoon Wedding    7.3           2001
98                              Black    8.1           2005
99                            Deewaar      8           1975

[100 rows x 3 columns]

5) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
Rajaji Nagar.

In [42]:
def get_nobroker(url):
    res=requests.get(url)
    bp=BeautifulSoup(res.content,'html.parser')
    house=[]
    location=[]
    area=[]
    emi=[]
    prices=[]
    for i in bp.find_all('a',{"class":"overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"}):
        house.append(i.text.strip().split(',')[0])
    for j in bp.find_all('div',{"class":"mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0.1p po:max-w-95"}):
        location.append(j.text.strip())
    for m in bp.find_all('div',{"id":"unitCode"}):
        area.append(m.text.strip())
    for k in bp.find_all('div',{"id":"roomType"}):
        emi.append(k.text.strip())
    top=bp.find_all('div',{"class":"nb__7nqQI"})
    for i in top:
        prc=bp.find('div',{"class":"font-semi-bold heading-6"})
        prices.append(prc.text.strip().split(',')[0])
    df=pd.DataFrame({"house_title":house,"location":location,"Area":area,"EMI":emi,"Price":prices})
    return df

In [43]:
get_nobroker("https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d&radius=2.0&city=bangalore&locality=Indiranagar&isMetro=false")

,house_title,location,Area,EMI,Price
0,4 BHK House For Sale In Indiranagar,"Independent House, 100 Feet Rd Near New Horiz...","4,800 sqft",₹2.01 Lacs/Month,₹3.5 Crores
1,4 BHK House For Sale In Rajajinagar,"Independent House, Mahakavi Kuvempu Rd Maruthi...","2,000 sqft","₹63,045/Month",₹3.5 Crores
2,3 BHK Flat In Gokula Krishna Apartment For Sal...,South End Rd near Reliance Fresh,"2,100 sqft",₹1.43 Lacs/Month,₹3.5 Crores
3,3 BHK Apartment In Gokul Lake View Apartments ...,Gokul Lake View Apartments Gokul Lake View Ap...,"1,852 sqft","₹92,849/Month",₹3.5 Crores
4,3 BHK Flat In Santa Clara Apartment For Sale ...,"3Rd Cross Rd18th main, 9th Block, Marenahalli","1,395 sqft","₹65,911/Month",₹3.5 Crores
5,3 BHK Flat In Ltg Sr Grand For Sale In Rajaji...,west of card road near modi hospital,"1,865 sqft",₹1.32 Lacs/Month,₹3.5 Crores
6,3 BHK Apartment In Amarjyothi Apartments For S...,"Amarjyothi Apartments Jayanagar 6th block, Ba...","1,552 sqft","₹96,861/Month",₹3.5 Crores
7,4+ BHK House For Sale In Rajajinagar,"Independent House, 80 Feet Rd 6th Block, near ...","2,400 sqft","₹71,643/Month",₹3.5 Crores
8,3 BHK Flat In Suraj Lakshmi Apartments For Sal...,"34/1, 1st Main Rd, Tata Silk Farm, Basavanagud...","1,226 sqft","₹68,777/Month",₹3.5 Crores
9,3 BHK Flat For Sale In Rajajinagar,"Standalone Building, 6th Block, near St. Ann's...","1,100 sqft","₹72,216/Month",₹3.5 Crores
10,3 BHK House For Sale In Jayanagar,"Independent House, Pattabhirama Nagar Near Sa...","4,000 sqft",₹3.95 Lacs/Month,₹3.5 Crores
11,4+ BHK House For Sale In Rajajinagar,"Independent House, SPECTRUM DIAGNOSTICS AND HE...","2,700 sqft",₹2.39 Lacs/Month,₹3.5 Crores
12,4 BHK House For Sale In Nandini Layout,"Independent House Independent House, Independ...","2,400 sqft",₹6.88 Lacs/Month,₹3.5 Crores
13,3 BHK Flat In Sri Maruthi For Sale In Jayanagar,Indira Gandhi Institute Of Child Health 1st Bl...,"1,400 sqft","₹68,777/Month",₹3.5 Crores
14,2 BHK Flat In Pallava Terrace Apartments For S...,"Pallava Terrace Tata Silk Farm, Jayanagar, Ben...","1,050 sqft","₹80,240/Month",₹3.5 Crores
15,3 BHK Flat In Kashi Kiran Regency,"Mariappanapalya, Rajajinagar, Bengaluru, Karna...","1,200 sqft","₹57,314/Month",₹3.5 Crores
16,3 BHK Apartment In Jayanagar Residency For Sal...,Jayanagar Residency Jayanagar Jayanagar Resi...,"2,000 sqft",₹1.29 Lacs/Month,₹3.5 Crores
17,2 BHK Apartment In Alpine Regency For Sale In...,"Alpine Regency Alpine Regency, 10th D Main R...","1,320 sqft","₹94,568/Month",₹3.5 Crores
18,4 BHK Flat In Apartment For Sale In Rajajinagar,"mahakavi kuvempu road, Near Mahakavi Kuvempu m...","2,055 sqft",₹1.03 Lacs/Month,₹3.5 Crores
19,3 BHK Flat In Mayitri Enclave For Sale In Jay...,"Mayitri Enclave,5T Block, 4th T Block East, Ja...","1,350 sqft","₹48,717/Month",₹3.5 Crores
20,2 BHK Apartment In Gopalan Admirality Court,"Gopalan Admirality Court, Indiranagar 6th Ma...","1,360 sqft",₹1.04 Lacs/Month,₹3.5 Crores
21,3 BHK Flat In Hemadri Residency For Sale In R...,"80 Feet Rd, 4th Block, Rajajinagar, Bengaluru,...","2,090 sqft",₹1.03 Lacs/Month,₹3.5 Crores
22,4+ BHK House For Sale In 183,"Independent House, 7th Cross First N Block","2,200 sqft",₹2.98 Lacs/Month,₹3.5 Crores
23,3 BHK Apartment In Codename Indiranagar For Sa...,"Codename Indiranagar Indiranagar, Bangalore.","2,000 sqft",₹3.21 Lacs/Month,₹3.5 Crores
24,4 BHK Apartment In Codename Indiranagar For Sa...,"Codename Indiranagar Indiranagar, Bangalore.","2,600 sqft",₹3.44 Lacs/Month,₹3.5 Crores
25,4 BHK House For Sale In Indiranagar,"Independent House, 100 Feet Rd Near New Horiz...","4,800 sqft",₹2.01 Lacs/Month,₹3.5 Crores

6) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/bestseller?sort=popular .

In [44]:
def get_10_product_bewakoof(url):
    response = requests.get(url)
    bs=BeautifulSoup(response.content)
    product=[]
    price=[]
    img=[]
    for i in bs.find_all('div',{"class":"productNaming bkf-ellipsis"}):
        product.append(i.text.strip())
        product=product[0:10]
    for j in bs.find_all('div',{"class":"discountedPriceText"}):
        price.append(j.text.strip())
        price=price[0:10]
    for k in bs.find_all('img',{"class":"productImgTag"}):
        img.append(k["src"].strip())
    df1=pd.DataFrame({"Product name":product,"Price":price,"Image URL":img})
    return df1

In [45]:
get_10_product_bewakoof("https://www.bewakoof.com/bestseller?sort=popular")

,Product name,Price,Image URL
0,Bewakoof®Women's Pink Camo Printed Oversized S...,₹499,https://images.bewakoof.com/t640/women-aop-ove...
1,Bewakoof®Women's White Camo Printed Oversized ...,₹519,https://images.bewakoof.com/t640/women-aop-ove...
2,bewakoof x disneyWomen's White & Black All Ove...,₹379,https://images.bewakoof.com/t640/women-s-white...
3,Bewakoof®Women's White Bored Typography Oversi...,₹499,https://images.bewakoof.com/t640/women-white-p...
4,Bewakoof®Women's Black Straight Cargo Pants,₹1299,https://images.bewakoof.com/t640/women-s-black...
5,Bewakoof®Women's Blue Straight Cargo Pants,₹1199,https://images.bewakoof.com/t640/women-s-blue-...
6,Bewakoof®Women's Brown Straight Cargo Pants,₹1399,https://images.bewakoof.com/t640/women-s-brown...
7,Bewakoof®Men's Jet Black Vest,₹379,https://images.bewakoof.com/t640/jet-black-ves...
8,Bewakoof®Women's Black Slim Fit T-shirt,₹349,https://images.bewakoof.com/t640/women-s-black...
9,Bewakoof®Men's White T-shirt,₹499,https://images.bewakoof.com/t640/men-s-white-t...

7) Please visit https://www.cnbc.com/world/?region=world and scrapa)
headings
b) date
c) News link

In [46]:
def get_cnbc_news(url):
    resp=requests.get(url)
    soup = BeautifulSoup(resp.content)
    headings=[]
    datess=[]
    newslinks=[]
    top=soup.find_all('div',{"class":"RiverPlusCard-cardLeft"})
    for i in top:
        heading=i.find('a').text.strip()
        date=i.find('div',{"class":"RiverByline-datePublished"})
        datetime=date.text.strip() if date else " "
        news = i.find('a')["href"]
        headings.append(heading)
        datess.append(datetime)
        newslinks.append(news)
    df2=pd.DataFrame({"headings":headings,"dates":datess,"Newslink":newslinks})
    return df2

In [47]:
get_cnbc_news("https://www.cnbc.com/world/?region=world")

,headings,dates,Newslink
0,Britain’s King Charles III will resume public ...,,https://www.cnbc.com/2024/04/26/britains-king-...
1,,,/pro/
2,U.S. regulator finds Tesla Autopilot has 'crit...,,https://www.cnbc.com/2024/04/26/tesla-autopilo...
3,UK tech darling Darktrace rallies after agreei...,,https://www.cnbc.com/2024/04/26/uk-tech-darlin...
4,Zelenskyy says U.S. aid delay let Russia grab ...,,https://www.cnbc.com/2024/04/26/live-updates-l...
5,American Airlines cuts some international flig...,,https://www.cnbc.com/2024/04/26/american-airli...
6,,,/pro/
7,European markets close higher as positive mome...,,https://www.cnbc.com/2024/04/26/european-marke...
8,,,/pro/
9,Airbus CFO says A350 plane production increase...,,https://www.cnbc.com/2024/04/26/airbus-cfo-say...
10,Elliott takes $1 billion stake in Anglo Americ...,,https://www.cnbc.com/2024/04/26/elliott-builds...
11,Anglo American rejects BHP's $39 billion takeo...,,https://www.cnbc.com/2024/04/26/anglo-american...
12,Long-awaited $2 billion CVC debut shows the IP...,,https://www.cnbc.com/2024/04/26/euronext-boss-...
13,China's Xi says the U.S. needs to accept Beiji...,,https://www.cnbc.com/2024/04/26/us-china-blink...
14,Geely-backed luxury EV brand Zeekr says it's a...,,https://www.cnbc.com/2024/04/25/geely-backed-l...
15,Ukraine can keep on fighting Russia — but the ...,,https://www.cnbc.com/2024/04/26/the-victory-uk...
16,Chinese EV start-ups Nio and Xpeng turn to the...,,https://www.cnbc.com/2024/04/26/chinese-ev-sta...
17,Chevron beats earnings estimates but profit fa...,,https://www.cnbc.com/2024/04/26/chevron-cvx-q1...

8) Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/
and scrap
a)Paper title
b) date
c) Author

In [48]:
def get_kaei_ai(url):
    res=requests.get(url)
    bsoup = BeautifulSoup(res.content)
    papers=[]
    datess=[]
    authors=[]
    for i in bsoup.find_all('h2',{"class":"h5 article-title"}):
        papers.append(i.text.strip())
    for j in bsoup.find_all('p',{"class":"article-date"}):
        datess.append(j.text.strip().split(' ')[-1])
    for k in bsoup.find_all('p',{"class":"article-authors"}):
        authors.append(k.text.strip())
    data={"Paper title":papers,"date":datess,"Author":authors}
    df3=pd.DataFrame(data)
    return df3

In [49]:
get_kaei_ai("https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/")

,Paper title,date,Author
0,Implementation of artificial intelligence in a...,2020,Tanha Talaviya | Dhara Shah | Nivedita Patel...
1,A comprehensive review on automation in agricu...,2019,Kirtan Jha | Aalap Doshi | Poojan Patel | M...
2,Review of agricultural IoT technology,2022,Jinyuan Xu | Baoxing Gu | Guangzhao Tian
3,Automation and digitization of agriculture usi...,2021,A. Subeesh | C.R. Mehta
4,Real-time hyperspectral imaging for the in-fie...,2020,Zongmei Gao | Yuanyuan Shao | Guantao Xuan |...
5,A review of imaging techniques for plant disea...,2020,Vijai Singh | Namita Sharma | Shikha Singh
6,Applications of electronic nose (e-nose) and e...,2020,Juzhong Tan | Jie Xu
7,Fruit ripeness classification: A survey,2023,Matteo Rizzo | Matteo Marcuzzo | Alessandro ...
8,Deep learning based computer vision approaches...,2022,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...
9,DeepRice: A deep learning and deep feature bas...,2024,P. Isaac Ritharson | Kumudha Raimond | X. An...
10,Transfer Learning for Multi-Crop Leaf Disease ...,2022,Ananda S. Paymode | Vandana B. Malode
11,How artificial intelligence uses to achieve th...,2023,Vilani Sachithra | L.D.C.S. Subhashini
12,Comparison of CNN-based deep learning architec...,2023,Md Taimur Ahad | Yan Li | Bo Song | Touhid ...
13,Plant disease detection using hybrid model bas...,2021,Punam Bedi | Pushkar Gole
14,Deep convolutional neural network models for w...,2022,A. Subeesh | S. Bhole | K. Singh | N.S. Cha...
15,Examining the interplay between artificial int...,2022,Abderahman Rejeb | Karim Rejeb | Suhaiza Zai...
16,Machine learning in nutrient management: A review,2023,Oumnia Ennaji | Leonardus Vergütz | Achraf E...
17,A systematic review of machine learning techni...,2022,Md Ekramul Hossain | Muhammad Ashad Kabir | ...
18,A review on computer vision systems in monitor...,2020,Cedric Okinda | Innocent Nyalala | Tchalla K...
19,Machine learning for weed–plant discrimination...,2023,Filbert H. Juwono | W.K. Wong | Seema Verma ...
20,Artificial cognition for applications in smart...,2020,Misbah Pathan | Nivedita Patel | Hiteshri Ya...
21,Vision Intelligence for Smart Sheep Farming: A...,2024,Galib Muhammad Shahriar Himel | Md. Masudul I...
22,Explainable artificial intelligence and interp...,2022,Masahiro Ryo
23,Crop diagnostic system: A robust disease detec...,2023,R. Abbasi | P. Martinez | R. Ahmad
24,Automated quality inspection of baby corn usin...,2024,Kris Wonggasem | Pongsan Chakranon | Papis W...